/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.st-sort-ascent:before{
  content: '\25B2';
}

.st-sort-descent:before{
  content: '\25BC';
}

.myParameter {
    width: 1200px;
    height: 300px;
}

.token_CONST { color: rgb(163,0,173); font-weight: normal; }

.token_VAR { color: rgb(51,56,194); font-weight: normal; }

.lm10 {
    margin-left: 10px;
}

.rm10 {
    margin-right: 10px;
}

table {
    border-collapse: collapse;
    margin-right: 10px;
}

table, th, td {
    border: 1px solid silver;
}

th, td {
    padding: 4px;
    text-align: left;
}

tr:nth-child(even) {background-color: #E5F8FF}