<p ng-show="False">This is the partial for view 4 / processes.</p>
<p ng-show="False">
    Y Showing of 'interpolate' filter: {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="owProcess" width="800" height="40">
</svg>

<section class="lm10 rm10">
    <h4>Parameters</h4>
    <ul class="nav nav-tabs">
        <li ng-click="parametersTab.select('tbHide')" ng-class="parametersTab.isSelected('tbHide') ? 'active' : ''"> <a href="">-</a> </li>
        <li ng-click="parametersTab.select('tbShowAll')" ng-class="parametersTab.isSelected('tbShowAll') ? 'active' : ''"> <a href="">+</a> </li>
    </ul>

    <div class="panel" ng-show="parametersTab.isSelected('tbShowAll')">
        <table st-table="displayedParameters" st-safe-src="aProcess.parameters" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="name" st-sort-default="true">Name</th>
                    <th st-sort="token">Formula</th>
                    <th st-sort="value">Value</th>
                    <th st-sort="min">Min</th>
                    <th st-sort="max">Max</th>
                    <th st-sort="standardDeviation">Std.Dev</th>
                    <th st-sort="comment">Comment, unit, defaults</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in displayedParameters">
                    <td>{{item.name}}</td>
                    <td><span ng-bind-html="item.token | niceFormula"></span></td>
                    <td>{{item.value}}</td>
                    <td>{{item.min | niceEmptyValue}}</td>
                    <td>{{item.max | niceEmptyValue}}</td>
                    <td>{{item.standardDeviation | niceVariation}}</td>
                    <td>{{item.comment}}</td>
                </tr>
            </tbody>
        </table>
</section>

<br>

<section class="lm10 rm10">
    <ul class="nav nav-tabs">
        <li ng-click="tab.select('tbLCA')" ng-class="tab.isSelected('tbLCA') ? 'active' : ''"> <a href="" class="fat">LCA</a> </li>
        <li ng-click="tab.select('tbDocu')" ng-class="tab.isSelected('tbDocu') ? 'active' : ''"> <a href="" class="fat">Documentation</a> </li>
    </ul>

    <div class="panel" ng-show="tab.isSelected('tbLCA')">
        <h4>Inputs</h4>
        <table>
            <th>Parameter</th>
            <th>Flow</th>
            <th>Amount</th>
            <th>Tracked</th>
            <th>Std.Dev</th>
            <th>Comment</th>
            <tr ng-repeat="item in aProcess.inputFlows | orderBy: 'resolvedFlowName'">
                <td>{{item.parameterName}}</td>                
                <td>{{item["resolvedFlowName"]}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.classification | niceClassification}}</td>
                <td>{{item.variation | niceVariation}}</td>
                <td>{{item.comment}}</td>
            </tr>
        </table>

        <br>

        <h4>Outputs</h4>
        <table>
            <th>Parameter</th>
            <th>Flow</th>
            <th>Amount</th>
            <th>Tracked</th>
            <th>Std.Dev</th>
            <th>Comment</th>
            <tr ng-repeat="item in aProcess.outputFlows | orderBy: 'resolvedFlowName'">
                <td>{{item.parameterName}}</td>                
                <td>{{item["resolvedFlowName"]}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.classification | niceClassification}}</td>
                <td>{{item.variation | niceVariation}}</td>
                <td>{{item.comment}}</td>
            </tr>
        </table>
    </div>

    <div class="panel " ng-show="tab.isSelected( 'tbDocu') ">
        <h4>Documentation</h4>
    </div>
</section>

</div>


<!-- 
<pre>{{displayedCollection | json }}</pre>
-->
<pre>{{aProcess | json }}</pre>


