<p ng-show="False">This is the partial for view 4 / processes.</p>
<p ng-show="False">
  Y Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="owProcess" width="800" height="40">
</svg>

<div>
  <h4>Inputs</h4>
  <table>
    <th>Amount</th>
    <th>Flow Guid</th>
    <th>Flow Name</th>
    <tr ng-repeat="item in aProcess.inputFlows | orderBy: 'resolvedFlowName'">      
      <td>{{item.amount}}</td>
      <td>{{item["flow-ref"]}}</td>
      <td>{{item["resolvedFlowName"]}}</td>
    </tr>
  </table>
  
  <h4>Outputs</h4>
  <table>
    <th>Amount</th>
    <th>Flow Guid</th>
    <th>Flow Name</th>
    <tr ng-repeat="item in aProcess.outputFlows">      
      <td>{{item.amount}}</td>
      <td>{{item["flow-ref"]}}</td>
      <td>{{item["resolved-flowName"]}}</td>
    </tr>
  </table>
</div>

