<p ng-show="False">This is the partial for view 5.</p>
<p ng-show="False">
  Y Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

<div ng-controller="View5Ctrl">

		<button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
			<i class="glyphicon glyphicon-plus">
			</i> Add a random item
		</button>

		<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
			<thead>
			<tr>
				<th st-sort="firstName">first name</th>
				<th st-sort="lastName">last name</th>
				<th st-sort="birthDate">birth date</th>
				<th st-sort="balance">balance</th>
			</tr>
			<tr>
				<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in displayedCollection">
				<td>{{row.firstName}}</td>
				<td>{{row.lastName}}</td>
				<td>{{row.birthDate}}</td>
				<td>{{row.balance}}</td>
				<td>
				<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-remove-circle">
					</i>
				</button>
				</td>
			</tr>
			</tbody>
		</table>

	</div>

	<math xmlns="http://www.w3.org/1998/Math/MathML"><mfrac><mrow><mo>(</mo><mn>0</mn><mo>.</mo><mn>000626933935564011</mn><mo>+</mo><mo>(</mo><mn>0</mn><mo>.</mo><mn>000789945188444108</mn><mo>-</mo><mn>0</mn><mo>.</mo><mn>000626933935564011</mn><mo>)</mo><mo>*</mo><mi>u</mi><mi>t</mi><mi>i</mi><mi>l</mi><mi>i</mi><mi>s</mi><mi>a</mi><mi>t</mi><mi>i</mi><mi>o</mi><mi>n</mi><mo>)</mo></mrow><mrow><mo>&#x000A0;</mo><mo>(</mo><mi>p</mi><mi>a</mi><mi>y</mi><mi>l</mi><mi>o</mi><mi>a</mi><mi>d</mi><mo>*</mo><mn>1000</mn><mo>*</mo><mi>u</mi><mi>t</mi><mi>i</mi><mi>l</mi><mi>i</mi><mi>s</mi><mi>a</mi><mi>t</mi><mi>i</mi><mi>o</mi><mi>n</mi><mo>)</mo></mrow></mfrac></math>